<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./components/header', {}) %>
    <main>
      <div>
        <p>User: <%= message[0].username %></p>
        <p>Date: <%= message[0].created_at %></p>
        <p>Message: <%= message[0].message %></p>
      </div>
      <a href="/">Home</a>
    </main>
  </body>
</html>
